.centerDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mobileHeader {
  width: 100%;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ff8811;
  color: #3e2a35;
}
.mobileHeader h3{
  margin: 0;
}

.loader {
  border: 5px solid #ecf0f1;
  border-top: 5px solid #ff8811;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  visibility: visible;
  align-self: center;
  margin: 5rem auto;
  display: inline-block;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.answerFormDiv {
  height: 100%;
  width: 95%;
  padding: 0.5rem;
  margin: 0.7rem auto;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  background-color: #ecf0f1;
  color: #000505;
  border-radius: 0.5rem;
}
.answerFormDiv p {
  margin: 0.6rem 0 0.3rem 0;
}
.answerFormDiv select {
  height: 1.5rem;
  font-size: 1rem;

  border-radius: 0.2rem;
  border: #197BBD 1px solid;
}
.answerFormDiv input[type=text] {
  height: 1.5rem;
  font-size: 1rem;

  border-radius: 0.2rem;
  border: #197BBD 1px solid;
}
.answerFormDiv input[type=submit] {
  padding: 0.5rem;
  margin: 1rem auto;

  font-size: 18px;
  background-color: #197BBD;
  color: white;

  border-radius: 0.2rem;
  border: none;
}

.formTitle {
  font-size: 1.35rem;
  color: #3e2a35;
}
.formDescription {
  font-size: 0.9rem;
  font-style: italic;
  color: #3e2a35;
}