html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  position:relative;

  color: #000505;
}

* {
  box-sizing: border-box;
}

header a {
  color: black;
}
header a:hover {
  text-decoration: none;
}

main {
  margin: 1rem;
}

footer {
  margin: 1rem;
}

a {
  color: #197BBD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
