.homeContentDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createFormButton {
  height: 2.5rem;
  width: 7rem;
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #197bbd;
  color: white;
  text-decoration: none;

  border-radius: 5px;
}
.createFormButton:hover {
  background-color: #3da2e5;
  text-decoration: underline;
  text-decoration-color: #3da2e5;
}

.myFormsDiv {
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;

  background-color: #ECF0F1;
}
.myFormsDiv h3 {
  margin: 1rem 0;

  color: #c0cdd1;
}
