.homeContentDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createFormButton {
  height: 2.5rem;
  width: 7rem;
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #197bbd;
  color: white;
  text-decoration: none;

  border-radius: 5px;
}
.createFormButton:hover {
  background-color: #3da2e5;
  text-decoration: underline;
  text-decoration-color: #3da2e5;
}

.myFormsDiv {
  margin: 2rem auto;
  padding: 1rem;
  width: 85%;

  background-color: #ECF0F1;
}
.myFormsDiv h3 {
  margin: 1rem 0;

  color: #c0cdd1;
}

.homeHeader {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 15rem;

  background-color: #ecf0f1;
}
.homeHeader div {
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.infoRowsDiv {
  margin-top: 1rem;
  padding: 0 1.5rem;
  background-color: #ecf0f1;
}

.infoRow {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.infoRow div:first-child {
  margin-right: 1.5rem;
}

.icon {
  width: 2rem;
  text-align: center;

  color: #197bbd;
}
