
.formRow {
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-color: #c0cdd1;
  border-width: 1px;
  border-style: none none dotted none;
}
.formRow a {
  width: 75%;
}
.formRow div {
  width: 25%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.formRow button {
  padding: 0 1rem;
  color: #000505;
  border: none;
}
.formRow button:hover {
  color: #ff8811;
  cursor: pointer;
}
.formRow button:disabled {
  color: #c0cdd1;
}
.formRow button:disabled:hover {
  color: #c0cdd1;
  cursor: default;
}
.loader {
  border: 5px solid #ecf0f1;
  border-top: 5px solid #ff8811;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  visibility: visible;
  align-self: center;
  margin: 5rem auto;
  display: inline-block;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
