.sectionDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1.2rem 0;
}

.editableText {
  margin: 0.7rem 0;
  overflow-wrap: normal;
  overflow: hidden;

  border-top: 1px solid transparent;
  border-bottom: 1px solid #c0cdd1;
}
.editableText:focus-within {
  border-top: 0px;
  border-bottom: 2px solid #197BBD;
}


.questionDiv {
  position: relative;
  padding: 1rem;

  background-color: #ECF0F1;
  border-radius: 0.5rem;
}

.optionsForm {
  margin: 0;
}
.optionDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;

  margin: 0.5rem 0;
  font-size: 14px;
}
.optionType:first-child {
  width: 1.5rem;
  margin: 0;
  padding: 0;
}
p.optionType {
  text-align: center;
}
.optionText {
  width: 90%;

  border-bottom: 1px solid transparent;
}
.optionText:hover {
  border-bottom: 1px solid #c0cdd1;
}
.optionText:focus-within {
  border-bottom: 1px solid #197BBD;
}
.addOptButton {
  height: 1.2rem;
  margin-bottom: 0.5rem;

  background-color: #197BBD;
  color: white;

  border-radius: 3px;
  border: 1px solid transparent;
}
.addOptButton:hover {
  background-color: #3da2e5;
  cursor: pointer;
  transition-duration: 200ms;
}

.questionType {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;  
}
.questionType select {
  height: 1.2rem;

  border-radius: 3px;
  border: 1px solid #197BBD;
}
.questionType select:hover {
  cursor: pointer;
}
.questionType select:focus {
  outline: none;
}

p.textAnswer {
  font-size: 14px;
  margin: 0.5rem 0;

  font-style: italic;
  color: #858d8f;
}

.addQuesButton {
  position: absolute;
  bottom: 0rem;
  right: -3.5rem;  

  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ecf0f1;
  font-size: 3rem;
  color: #197bbd;

  border-radius: 3.5rem;
  border: 2px solid transparent;

  cursor: pointer;
}
.addQuesButton:hover {
  background-color: #FF8811;
  color: white;
  transition-duration: 200ms;
  border: 2px solid #FF8811;
}