.container {
  width: 100%;
  height: 100%;
}
  
.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 22rem;
}
.homeHeader img {
  filter: opacity(90%);
}
.homeHeader div {
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.globalHeader {
  height: 2rem;
  margin-bottom: 1rem;

  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.globalHeader h2 {
  color: #f5c69c;
  margin: 0;
}
.globalHeader button {
  height: 100%;
  width: 4rem;

  border-radius: 0.2rem;
  border-width: 1px;
  border-style: solid;
}

.signInButtonDiv {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.signInButtonDiv p {
  font-size: 1.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.signInButton {
  background-color: lightgray;
  border-color: black;
}
.signUpButton {
  background-color: white;
  border-color: gray;
  color: gray;
}
  
.backToHome {
  margin: 3rem 0 0;
}